@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/pxiDyp8kv8JHgFVrJJLmv1pVF9eL.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
