@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiqXA.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj6AiqXA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik Vinyl';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/iJWABXKIfDnIV4mQ5BfjvUXe.ttf) format('truetype');
}
