.elementor-kit-8{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-c3f9dfd:#E6E3D3;--e-global-color-cf213bd:#18392B;--e-global-color-caeca51:#C4C4C4;--e-global-color-f4a1d5c:#3B5B4D;--e-global-color-0f04e9e:#AA6345;--e-global-color-21eb3ed:#F0EEE9;--e-global-color-a92901a:#6A6B41;--e-global-color-4a90ec0:#B82303;--e-global-color-e477698:#7D3E2F;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;font-family:"ppneuemontreal", Sans-serif;font-size:14px;font-weight:400;line-height:1.2em;}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}.elementor-kit-8 a{font-family:"ppneuemontreal", Sans-serif;font-weight:500;text-transform:uppercase;}.elementor-kit-8 h1{font-family:"ppneuemontreal", Sans-serif;font-weight:600;}.elementor-kit-8 h2{font-family:"ppneuemontreal", Sans-serif;font-weight:500;letter-spacing:0px;}.elementor-kit-8 h3{font-family:"ppneuemontreal", Sans-serif;font-weight:500;}.elementor-kit-8 h4{font-family:"Vinyl", Sans-serif;font-weight:500;text-transform:uppercase;}.elementor-kit-8 h5{font-family:"ppneuemontreal", Sans-serif;font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){--kit-widget-spacing:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-8{letter-spacing:0.3px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'ppneuemontreal';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/ppneuemontreal-bold.ttf') format('truetype');
}
@font-face {
	font-family: 'ppneuemontreal';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/ppneuemontreal-book.ttf') format('truetype');
}
@font-face {
	font-family: 'ppneuemontreal';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/ppneuemontreal-medium.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Vinyl';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Vinyl-Regular.woff2') format('woff2');
}
/* End Custom Fonts CSS */