:root {
  --e-global-color-primary: #FFD012;
  --e-global-color-secondary: #0B3665;
}

.eel-post-grid-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eel-post-grid-wrap .grid-item-inner {
  overflow: hidden;
}

.eel-post-grid-wrap .eel-blog-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.eel--blog-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.eel-post-grid-wrap .grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.eel-post-grid-wrap .grid-item:hover img {
  -webkit-transform: scale(1.2) translateX(10px);
          transform: scale(1.2) translateX(10px);
}

.eel-post-grid-wrap .grid-item .eel--blog-img {
  overflow: hidden;
}

.eel-post-grid-wrap .post-title {
  font-weight: bold;
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.eel-post-grid-wrap .eel--blog-meta {
  margin: 20px 0 5px;
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 120%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eel-post-grid-wrap .eel--blog-meta a {
  color: currentColor;
}

.eel-post-grid-wrap .eel--blog-meta a:hover {
  color: var(--e-global-color-primary);
}

.eel-post-grid-wrap .eel--blog-meta li {
  position: relative;
}

.eel--separator--yes li + li {
  padding-left: 10px;
}

.eel--separator--yes li + li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  background: #000;
  width: 1px;
  height: 10px;
}

.eel-post-grid-wrap .read-more {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.eel--blog-excerpt {
  margin-bottom: 20px;
}

.eel--blog-excerpt a {
  color: currentColor;
}

.ee--blog-title a {
  color: currentColor;
}

.ee--blog-title a:hover {
  color: var(--e-global-color-primary);
}

.eel-post-grid-wrap .read-more:hover {
  text-decoration: underline;
}

.eel--read-more a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
}

.eel--read-more a:hover {
  color: var(--e-global-color-primary);
}

.eel--read-more-icon.after {
  margin-left: 6px;
  top: 1px;
}

.eel--read-more-icon.before {
  margin-right: 6px;
  top: 1px;
}

.eel-post-grid-wrap svg,
.eel-post-grid-wrap i {
  font-size: 16px;
  height: 1em;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.eel--button-icon {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  place-content: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: var(--e-global-color-primary);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.eel--button-icon svg,
.eel--button-icon i {
  margin: 0;
  top: 0;
  color: #fff;
  fill: #fff;
}

.eel-blog-pagination {
  text-align: center;
  margin-top: 40px;
}

.eel-blog-pagination ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.eel-blog-pagination ul li {
  display: inline-block;
}

.eel-blog-pagination ul li a,
.eel-blog-pagination ul li span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #333;
  background-color: #f3f3f3;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 5px 10px #0e0d0d1a;
          box-shadow: 0 5px 10px #0e0d0d1a;
}

.eel-blog-pagination ul li a:hover {
  background-color: var(--e-global-color-primary);
  color: #fff;
  border-color: var(--e-global-color-primary);
}

.eel-blog-pagination ul li span.current {
  background-color: var(--e-global-color-primary);
  color: #fff;
  border-color: var(--e-global-color-primary);
  cursor: default;
}

.eel-pagination-number-yes.swiper-pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.eel-pagination-number-yes.swiper-pagination span {
  font-size: 20px;
  background: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 30px;
  text-align: left;
}

.eel-pagination-number-yes.swiper-pagination span.swiper-pagination-bullet-active {
  position: relative;
  width: 60px !important;
}

.eel-pagination-number-yes.swiper-pagination span.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 30px;
  background: #000;
  height: 1px;
  width: 32px;
}

.eel-pagination-number-yes.swiper-pagination span:last-child {
  text-align: right;
}

.eel-pagination-number-yes.swiper-pagination span:last-child::after {
  left: -7px;
}
/*# sourceMappingURL=blog-slider.css.map */