:root {
  --e-global-color-primary: #EAA638;
  --e-global-color-secondary: #0B3665;
  --e-global-color-text: #7A8986;
}

.swiper-navigation .swiper-next,
.swiper-navigation .swiper-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 35px;
  border-radius: 2px;
  border: none;
}

.swiper-navigation .swiper-next {
  left: auto;
  right: 0;
}

.swiper-navigation svg {
  height: 1em;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 14px;
}

.swiper-button-next, .swiper-button-prev, .swiper-rtl .swiper-button-prev, .swiper-rtl .swiper-button-next {
  height: 32px;
  border-radius: 3px;
  outline: none;
  border: none;
  width: 32px;
}

.swiper-pagination span {
  font-size: 0;
}

.eel-pagination-number-yes.swiper-pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.eel-pagination-number-yes.swiper-pagination span {
  font-size: 20px;
  background: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 30px;
  text-align: left;
}

.eel-pagination-number-yes.swiper-pagination span.swiper-pagination-bullet-active {
  position: relative;
  width: 60px !important;
}

.eel-pagination-number-yes.swiper-pagination span.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 30px;
  background: #000;
  height: 1px;
  width: 32px;
}

.eel-pagination-number-yes.swiper-pagination span:last-child {
  text-align: right;
}

.eel-pagination-number-yes.swiper-pagination span:last-child::after {
  left: -7px;
}

.ee--icon-box-slider {
  width: 100%;
  background: #F5F9F9;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  overflow: hidden;
}

.ee--icon-box-slider .icon-box-title {
  color: var(--e-global-color-secondary);
  margin-bottom: 14px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ee--icon-box-slider .icon-box-title a {
  color: currentColor;
}

.ee--icon-box-slider .eel-icon {
  min-width: 60px;
  height: 60px;
  background: var(--e-global-color-primary);
  display: -ms-inline-grid;
  display: inline-grid;
  margin-bottom: 75px;
  border-radius: 16px;
  font-size: 20px;
  place-content: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ee--icon-box-slider .eel-icon svg {
  height: 20px;
}

.ee--icon-box-slider .icon-box-description {
  font-size: 18px;
  color: var(--e-global-color-text);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.ee--icon-box-slider .icon-box-description a {
  color: currentColor;
}

.ee--icon-box-slider.right, .ee--icon-box-slider.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.ee--icon-box-slider.right .eel-icon, .ee--icon-box-slider.left .eel-icon {
  margin-bottom: 0;
  margin-top: 4px;
}

.ee--icon-box-slider.right .eel-icon {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.eel--top-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 60px;
  height: 60px;
  opacity: .05;
}

.eel-read-more-icon {
  margin-top: 20px;
  display: inline-block;
}

.eel-read-more-icon svg {
  height: 16px;
}

.eel-read-more-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eel-read-more-text span {
  line-height: 100%;
}

.eel-read-more-text svg {
  height: 16px;
  width: 16px;
}

.eel-read-more .eel-icon-to-text {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-align: center;
  max-width: 36px;
  height: 36px;
  border-radius: 36px;
  overflow: hidden;
  border: solid 1px var(--e-global-color-text);
  color: var(--e-global-color-text);
  -webkit-transition: .5s;
  transition: .5s;
}

.eel-read-more .eel-icon-to-text .eel-text {
  opacity: 0;
  display: inline-block;
  overflow: hidden;
  margin-left: 36px;
  line-height: 2.2em;
  padding-right: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: .5s;
  transition: .5s;
}

.eel-read-more .eel-icon-to-text .eel-read-more-text-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
  font-size: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.eel-read-more .eel-icon-to-text:hover {
  max-width: 100%;
}

.eel-read-more .eel-icon-to-text:hover .eel-text {
  opacity: 1;
}
/*# sourceMappingURL=icon-box-slider.css.map */