@media only screen and (min-width: 992px) {
	.nav-menu-link.menu-button{
		display: none;
	}
}
@media only screen and (max-width: 991px) {
	nav.nav.navbar{
		display: none;
	}
	.nav-menu-link.menu-button{
		display: flex;
		justify-content: flex-end;
	}
	.menu-area-addon-offcan nav.nav.navbar{
		display: block;
	}
	.rt-row-header{
		padding: 8px 0;
	}
}
