.ui-link-helper svg {
    width: 22px;
}

.ui-link-helper {
    position: fixed;
    right: 0;
    top: calc(50vh - 111px);
    display: flex;
    flex-direction: column;
    background: white;
    width: 45px;
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 40px rgb(0 0 0 / 7%);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 7%);
    box-shadow: 0 5px 40px rgb(0 0 0 / 7%);
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #eaeaea;
    border-right: 0;
    z-index: 9999999;
}

.ui-link-helper .ui-tooltip {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    position: absolute;
    background-color: #fff;
    font-size: 13px;
    margin: 0;
    padding: 0px 20px;
    font-family: inherit;
    width: auto;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.1px;
    right: 10px;
    top: 4px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-shadow: 0 5px 40px rgb(0 0 0 / 7%), 0 0 3px -1px rgb(83 45 245 / 15%);
    -moz-box-shadow: 0 5px 40px rgb(0 0 0 / 7%), 0 0 3px -1px rgb(83 45 245 / 15%);
    box-shadow: 0 5px 40px rgb(0 0 0 / 7%), 0 0 3px -1px rgb(83 45 245 / 15%);
    -moz-transition: all 0.3s cubic-bezier(0.64, -0.09, 0.13, 1.15);
    -o-transition: all 0.3s cubic-bezier(0.64, -0.09, 0.13, 1.15);
    transition: all 0.3s cubic-bezier(0.64, -0.09, 0.13, 1.15);
    color: #1053f2;
}

.ui-link-helper .ui-tooltip-link:hover .ui-tooltip {
    opacity: 1;
    right: 60px;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.ui-link-helper .ui-tooltip-link {
    position: relative;
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: center;
    transition: all 0.3s ease-in;
}

.ui-link-helper .ui-tooltip span {
    display: block;
    position: absolute;
    right: -5px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 5px solid #fff;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.ui-link-helper .ui-tooltip-link + .ui-tooltip-link {
    border-top: 1px solid #eaeaea;
}

.ui-link-helper .ui-tooltip-link svg {
    height: 20px;
}
.ui-tooltip-link:hover {
    background: rgb(83 45 245 / 5%);
}
.ui-tooltip-link:hover svg path {
    fill: #1053f2;
}

@media (max-width: 767px) {
    .ui-link-helper {
        display: none;
    }
}

img:is([sizes="auto" i], [sizes^="auto," i]) {
    contain-intrinsic-size: 3000px 1500px;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

 .wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em;
}
.wp-block-file__button {
    background: #32373c;
    color: #fff;
    text-decoration: none;
}

.e-con.e-parent:nth-of-type(n + 4):not(.e-lazyloaded):not(.e-no-lazyload),
.e-con.e-parent:nth-of-type(n + 4):not(.e-lazyloaded):not(.e-no-lazyload) * {
    background-image: none !important;
}
@media screen and (max-height: 1024px) {
    .e-con.e-parent:nth-of-type(n + 3):not(.e-lazyloaded):not(.e-no-lazyload),
    .e-con.e-parent:nth-of-type(n + 3):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important;
    }
}
@media screen and (max-height: 640px) {
    .e-con.e-parent:nth-of-type(n + 2):not(.e-lazyloaded):not(.e-no-lazyload),
    .e-con.e-parent:nth-of-type(n + 2):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important;
    }
}