		
		@media only screen and (max-width: 1000px){
					.header_bottom {
			background-color: #ffffff;
			}
							.header_bottom,
			nav.mobile_menu{
			background-color: transparent !important;
			}
						}
		@media only screen and (min-width: 480px) and (max-width: 768px){
		
					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
				
				}

        @media only screen and (max-width: 768px){
		
		
		
		
		
		
        }
        @media only screen and (max-width: 600px) {
		
		
		            h3, h3 a {
			font-size: 26px; 			line-height: 34px; 			            }
		
		
		
		        }
		@media only screen and (max-width: 480px){
		
					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
				
				}
		
		