@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoedWyYZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeVWzYZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeYuzYZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoedWzYZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeeezYZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeQu0YZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeTK0YZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeVW0YZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/jVyb7nvyB2HL8iZyJEc0qSzwj1Hs8RjoeXy0YZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g0gOz3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g2gOj3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g1-Oj3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g0gOj3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g0SOj3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g3-PT3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g3HPT3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g2gPT3w.ttf) format('truetype');
}
@font-face {
  font-family: 'Gantari';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/jVyV7nvyB2HL8iZyDk4GVvSZ5MtC9g2JPT3w.ttf) format('truetype');
}
