<!DOCTYPE html><!-- htmllint id-class-style="dash" --><!-- htmllint attr-name-style="dash" --><html><head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="description" content="How fast is your download speed? In seconds, Fast.com's simple Internet speed test will estimate your ISP speed.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link type="text/css" rel="stylesheet" href="app.css" media="all">
        <link type="text/css" rel="stylesheet" href="oc-webfont.min.css" media="all">
        <link rel="icon" type="image/png" href="../images/favicon-96x96.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
        <link rel="manifest" href="/assets/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Internet Speed Test | Fast.com</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="logo-container">
                <div role="img" aria-label="FAST.com logo" class="logo centered"></div>
                <a href="https://fast.com">
                    <span id="redirect-to-fast-com"></span>
                </a>
            </div>

            <div class="speed-controls-container centered">
                <div class="speed-left-container">
                    <div class="bordered-speed-container">
                        <div class="speed-results-container" id="speed-value">
                            404
                        </div>
                    </div>
                </div>

                <div class="speed-right-container">
                    <div class="speed-units-container" id="speed-units">
                    <br>
                    Page <br>
                    NOT <br>
                    Found
                    </div>
                </div>

                <div class="footer-container">
                        <div class="powered-by-container">
                            <div role="img" aria-label="Powered by Netflix" class="powered-by centered"></div>
                        </div>
                    </div>
                </div>

            </div>
    

</body></html>