@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/6xK0dSxYI9_dkN18-vZKK2EISCq5H44.ttf) format('truetype');
}
@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/6xK0dSxYI9_dkN18-vZKK2EISM2-H44.ttf) format('truetype');
}
