
.depicter-revert .depicter-445-element-157{
	border-width:2px;
	border-style:solid;
	border-color:#AAAAAA;
}
.depicter-445-element-157 .depicter-symbol-container{
	fill:#EBEBEB;
}
.depicter-revert .depicter-445-element-158{
	border-width:2px;
	border-style:solid;
	border-color:#AAAAAA;
}
.depicter-445-element-158 .depicter-symbol-container{
	fill:#EBEBEB;
}
.depicter-revert .depicter-445-element-286{
	font-size:16px;
	text-align:center;
	color:#ECECEC;
	font-family:"Inter";
	font-weight:400;
	background-color:#FC1517;
}
.depicter-revert .depicter-445-element-286 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-286 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-285{
	font-size:18px;
	color:#FFF;
	font-family:"Open Sans";
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-445-element-282{
	padding:5px 10px 5px 10px;
	font-size:14px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	background-color:rgba(236, 236, 236, 0.41);
}
.depicter-revert .depicter-445-element-281{
	font-size:16px;
	text-align:center;
	color:#000;
	font-family:"Inter";
	font-weight:400;
	background-color:#EBEBEB;
}
.depicter-revert .depicter-445-element-281 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-281 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-280{
	padding:0%;
	font-size:42px;
	text-align:left;
	color:#FFF;
	font-family:"Inter";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-445-section-279 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-445-section-279 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.73);
}
.depicter-revert .depicter-445-element-303{
	font-size:18px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-445-element-197{
	font-size:16px;
	text-align:center;
	color:#ECECEC;
	font-family:"Inter";
	font-weight:400;
	background-color:#FC1517;
}
.depicter-revert .depicter-445-element-197 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-197 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-196{
	padding:5px 10px 5px 10px;
	font-size:12px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	background-color:rgba(236, 236, 236, 0.41);
}
.depicter-revert .depicter-445-element-195{
	font-size:16px;
	text-align:center;
	color:#000;
	font-family:"Inter";
	font-weight:400;
	background-color:#EBEBEB;
}
.depicter-revert .depicter-445-element-195 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-195 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-194{
	padding:0%;
	font-size:46px;
	text-align:left;
	color:#FFF;
	font-family:"Inter";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-445-section-193 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-445-element-173{
	font-size:16px;
	text-align:center;
	color:#ECECEC;
	font-family:"Inter";
	font-weight:400;
	background-color:#FC1517;
}
.depicter-revert .depicter-445-element-173 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-173 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-170{
	font-size:18px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-445-element-169{
	padding:0%;
	font-size:46px;
	text-align:left;
	color:#FFF;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-445-element-168{
	padding:5px 10px 5px 10px;
	font-size:12px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	background-color:rgba(236, 236, 236, 0.41);
}
.depicter-revert .depicter-445-element-161{
	font-size:16px;
	text-align:center;
	color:#000;
	font-family:"Inter";
	font-weight:400;
	background-color:#EBEBEB;
}
.depicter-revert .depicter-445-element-161 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-161 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-section-67 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-445-section-67 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-revert .depicter-445-element-177{
	font-size:16px;
	text-align:center;
	color:#ECECEC;
	font-family:"Inter";
	font-weight:400;
	background-color:#FC1517;
}
.depicter-revert .depicter-445-element-177 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-177 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-174{
	padding:5px 10px 5px 10px;
	font-size:12px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:400;
	line-height:120%;
	background-color:rgba(236, 236, 236, 0.41);
}
.depicter-revert .depicter-445-element-159{
	font-size:16px;
	text-align:center;
	color:#000;
	font-family:"Inter";
	font-weight:400;
	background-color:#EBEBEB;
}
.depicter-revert .depicter-445-element-159 .dp-icon-container{
	transform:scale(1);
}
.depicter-revert .depicter-445-element-159 .dp-disabled{
	opacity:1;
}
.depicter-revert .depicter-445-element-57{
	font-size:18px;
	color:rgba(255, 255, 255, 0.8);
	font-family:"Inter";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-445-element-56{
	padding:0%;
	font-size:46px;
	text-align:left;
	color:#FFF;
	font-family:"Inter";
	font-weight:700;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-445-section-55 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-445-element-285{
	font-size:14px;
	line-height:140%;
}
.depicter-revert .depicter-445-element-282{
	font-size:12px;
	text-align:center;
	white-space:nowrap;
	direction:ltr;
}
.depicter-revert .depicter-445-element-280{
	font-size:26px;
	line-height:140%;
}
.depicter-revert .depicter-445-element-303{
	font-size:14px;
	font-weight:300;
}
.depicter-revert .depicter-445-element-194{
	font-size:36px;
}
.depicter-revert .depicter-445-element-170{
	font-weight:300;
}
.depicter-revert .depicter-445-element-169{
	font-size:36px;
}
.depicter-revert .depicter-445-element-57{
	font-weight:300;
}
.depicter-revert .depicter-445-element-56{
	font-size:36px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-445-element-286{
	font-size:10px;
}
.depicter-revert .depicter-445-element-285{
	font-size:12px;
}
.depicter-revert .depicter-445-element-282{
	font-size:8px;
	text-align:center;
}
.depicter-revert .depicter-445-element-281{
	font-size:12px;
}
.depicter-revert .depicter-445-element-280{
	font-size:20px;
}
.depicter-revert .depicter-445-section-279 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-445-element-303{
	font-size:10px;
}
.depicter-revert .depicter-445-element-197{
	font-size:12px;
}
.depicter-revert .depicter-445-element-196{
	font-size:12px;
}
.depicter-revert .depicter-445-element-195{
	font-size:12px;
}
.depicter-revert .depicter-445-element-194{
	font-size:22px;
}
.depicter-revert .depicter-445-section-193 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-445-element-173{
	font-size:12px;
}
.depicter-revert .depicter-445-element-170{
	font-size:12px;
}
.depicter-revert .depicter-445-element-169{
	font-size:22px;
}
.depicter-revert .depicter-445-element-168{
	font-size:12px;
}
.depicter-revert .depicter-445-element-161{
	font-size:12px;
}
.depicter-revert .depicter-445-section-67 .depicter-section-background{
	background-color:transparent;
}
.depicter-revert .depicter-445-section-67 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-revert .depicter-445-element-177{
	font-size:12px;
}
.depicter-revert .depicter-445-element-174{
	font-size:12px;
}
.depicter-revert .depicter-445-element-159{
	font-size:12px;
}
.depicter-revert .depicter-445-element-57{
	font-size:12px;
}
.depicter-revert .depicter-445-element-56{
	font-size:22px;
	line-height:140%;
}
.depicter-revert .depicter-445-section-55 .depicter-section-background{
	background-color:transparent;
}

}
/*** Custom styles ***/
background: transparent radial-gradient(closest-side at 50% 50%, #031D3CB3 0%, #031D3CCC 100%) 0% 0% no-repeat padding-box;
opacity: 1;
background: transparent radial-gradient(closest-side at 50% 50%, #031D3CB3 0%, #031D3CCC 100%) 0% 0% no-repeat padding-box;
opacity: 1;
background: transparent radial-gradient(closest-side at 50% 50%, #031D3CB3 0%, #031D3CCC 100%) 0% 0% no-repeat padding-box;
opacity: 1;
background: transparent radial-gradient(closest-side at 50% 50%, #031D3CB3 0%, #031D3CCC 100%) 0% 0% no-repeat padding-box;
opacity: 1;

