/* Latop Device :1200px. */
@media (min-width: 1200px) and (max-width: 1300px) {
    .main-slider-offer-box {
        width: 400px;
        right: 5%;
        top: 25%;
    }

    .services-bg-img {
        width: 500px;
    }

    .team-all-member-box .owl-nav div {
        left: 0;
    }

    .team-all-member-box .owl-nav div.owl-next {
        right: 0;
    }

    .laundryka-single-slider2-style-img {
        width: 50%;
    }

    .laundryka-main-slider2-all.owl-theme .owl-dots .owl-dot {
        display: none;
    }
}

/* LG  Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .header-top-btn .lbtn {
        margin-right: 70px;
    }

    .main-slider-offer-box {
        width: 400px;
        right: 2%;
        top: 30%;
    }

    .about-brief-content-box h2.about-brief-title:after,
    .about-brief-content-box h2.about-brief-title2:after,
    .laundryka-about-area .back-img,
    .single-works-steap-box .works-steap-icon-box:after,
    .laundryka-workes-steap-area
        .col-xl-3:nth-child(2n + 1)
        .single-works-steap-box
        .works-steap-icon-box:after,
    .services-bg-img {
        display: none;
    }

    .about-brief-content-box h2.about-brief-title2,
    .about-brief-content-box h2.about-brief-title {
        font-size: 32px;
    }

    .laundryka-counter-info-box h2 {
        font-size: 36px;
    }

    .laundryka-counter-style-shape img.lcs-1 {
        width: 30%;
    }

    .laundryka-counter-style-shape img.lcs-2 {
        width: 20%;
    }

    .team-all-member-box .owl-nav div {
        left: 0;
    }

    .team-all-member-box .owl-nav div.owl-next {
        right: 0;
    }

    .laundryka-single-slider2 {
        height: 768px;
    }

    .laundryka-single-slider2-style-img {
        width: 50%;
    }

    .laundryka-main-slider2-all.owl-theme .owl-dots .owl-dot {
        display: none;
    }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .mean-container a.meanmenu-reveal {
        margin-top: -70px;
    }

    ul.header-top-left-info-box li {
        margin-bottom: 30px;
    }

    .header-top-right-social-box {
        float: left !important;
    }

    .header-top-btn .lbtn {
        margin-right: 70px;
    }

    .about-brief-content-box h2.about-brief-title:after,
    .about-brief-content-box h2.about-brief-title2:after,
    .laundryka-testimonial-special-img,
    .laundryka-about-bg-img:before,
    .main-slider-offer-box,
    .laundryka-about-area .back-img,
    .single-works-steap-box .works-steap-icon-box:after,
    .laundryka-workes-steap-area
        .col-xl-3:nth-child(2n + 1)
        .single-works-steap-box
        .works-steap-icon-box:after,
    .services-bg-img {
        display: none;
    }

    .about-brief-content-box {
        margin: 30px 0;
    }

    .about-brief-content-img-box2 img,
    .about-brief-content-img-box img {
        width: 100%;
    }

    .laundryka-about-bg-img {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .laundryka-about-content {
        margin-top: 50px;
    }

    .videos-icon-text {
        top: 30%;
        left: 35%;
        transform: translate(50%, 50%);
    }

    .laundryka-pricing-table-area .col-xl-4:nth-child(odd) .single-price-area {
        margin-top: 0;
    }

    .laundryka-single-slider-content h2 {
        font-size: 65px;
        line-height: 90px;
    }

    .laundryka-counter-info-box h2 {
        font-size: 36px;
    }

    .laundryka-counter-style-shape img.lcs-1 {
        width: 30%;
    }

    .laundryka-counter-style-shape img.lcs-2 {
        width: 20%;
    }

    .team-all-member-box .owl-nav div {
        left: 0;
    }

    .team-all-member-box .owl-nav div.owl-next {
        right: 0;
    }

    .cta-title h3 {
        margin-bottom: 30px;
    }

    .laundryka-single-slider2 {
        height: 768px;
    }

    .laundryka-main-slider2-all.owl-theme .owl-dots .owl-dot,
    .laundryka-single-slider2-style-img {
        display: none;
    }
}

/* small mobile (XS) :320px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mini_cart_wraper {
        left: 0 !important;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: -62px;
    }

    ul.header-top-left-info-box li {
        margin-bottom: 30px;
    }

    .header-top-right-social-box {
        float: left !important;
    }

    .header-top-btn .lbtn {
        margin-right: 70px;
    }

    .laundryka-testimonial-special-img,
    .laundryka-about-bg-img:before,
    .main-slider-offer-box,
    .laundryka-about-area .back-img,
    .single-works-steap-box .works-steap-icon-box:after,
    .laundryka-workes-steap-area
        .col-xl-3:nth-child(2n + 1)
        .single-works-steap-box
        .works-steap-icon-box:after,
    .services-bg-img {
        display: none;
    }

    .about-brief-content-box {
        margin: 30px 0;
    }

    .laundryka-about-bg-img {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .laundryka-about-content {
        margin-top: 50px;
    }

    .videos-icon-text {
        top: 30%;
        left: 35%;
        transform: translate(50%, 50%);
    }

    .single-services-box {
        margin-top: 0;
    }

    .laundryka-pricing-table-area .col-xl-4:nth-child(odd) .single-price-area {
        margin-top: 0;
    }

    .laundryka-single-slider-content h2 {
        font-size: 65px;
        line-height: 90px;
    }

    .laundryka-counter-area {
        height: 1500px;
    }

    .single-counter-box {
        margin-top: 0;
    }

    .laundryka-counter-info-box h2 {
        font-size: 36px;
    }

    .laundryka-counter-style-shape img.lcs-1 {
        width: 30%;
    }

    .laundryka-counter-style-shape img.lcs-2 {
        width: 20%;
    }

    .team-all-member-box .owl-nav div {
        left: 0;
    }

    .single-team-wraper {
        max-height: 600px;
        height: 600px;
    }

    .team-all-member-box .owl-nav div.owl-next {
        right: 0;
    }

    .cta-title h3 {
        margin-bottom: 30px;
    }

    .blog-img-date img {
        width: 100%;
    }

    .footer-menu-area {
        float: inherit !important;
    }

    .laundryka-single-slider2 {
        height: 768px;
    }

    .laundryka-slider2-area-content-box h2 {
        font-size: 60px;
    }

    .laundryka-main-slider2-all.owl-theme .owl-dots .owl-dot,
    .laundryka-single-slider2-style-img {
        display: none;
    }
}

/* SM Device :480px. */
@media (min-width: 361px) and (max-width: 575px) {
    .header-logo {
        margin: 32px 0 0;
        display: inline-block;
    }

    .header-top-btn {
        display: none !important;
    }

    ul.header-search {
        display: none;
    }

    ul.header-top-left-info-box li {
        margin-bottom: 30px;
    }

    .header-top-right-social-box {
        float: left !important;
    }

    .header-top-btn .lbtn {
        margin-right: 70px;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: -45px;
    }

    .header-cart-wraper {
        margin: -28px 60px 0 0;
    }

    .laundryka-single-slider-content h4 {
        font-size: 25px;
    }

    .laundryka-single-slider-content h2 {
        font-size: 40px;
        line-height: 1.4;
    }

    .about-brief-content-box h2.about-brief-title:after,
    .about-brief-content-box h2.about-brief-title2:after,
    .laundryka-testimonial-special-img,
    .laundryka-about-bg-img:before,
    .main-slider-offer-box,
    .laundryka-about-area .back-img,
    .single-works-steap-box .works-steap-icon-box:after,
    .laundryka-workes-steap-area
        .col-xl-3:nth-child(2n + 1)
        .single-works-steap-box
        .works-steap-icon-box:after,
    .services-bg-img {
        display: none;
    }

    .about-brief-content-box {
        margin: 30px 0;
    }

    .about-brief-content-box h2.about-brief-title2,
    .about-brief-content-box h2.about-brief-title {
        font-size: 28px;
    }

    .laundryka-about-content h2 {
        font-size: 30px;
    }

    .laundryka-about-bg-img {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .laundryka-about-content {
        margin-top: 50px;
    }

    .videos-icon-text {
        top: 13%;
        left: 20%;
        transform: translate(50%, 50%);
    }

    .single-services-box {
        margin-top: 0;
    }

    .single-testimonial p {
        font-size: 18px;
    }

    .laundryka-pricing-table-area .col-xl-4:nth-child(odd) .single-price-area {
        margin-top: 0;
    }

    .laundryka-counter-area {
        height: 1500px;
    }

    .single-counter-box {
        margin-top: 0;
    }

    .laundryka-counter-info-box h2 {
        font-size: 36px;
    }

    .laundryka-counter-style-shape img.lcs-1 {
        width: 30%;
    }

    .laundryka-counter-style-shape img.lcs-2 {
        width: 20%;
    }

    .team-all-member-box .owl-nav div {
        left: 0;
    }

    .single-team-wraper {
        max-height: 600px;
        height: 600px;
    }

    .team-all-member-box .owl-nav div.owl-next {
        right: 0;
    }

    .cta-title h3 {
        margin-bottom: 30px;
    }

    .blog-img-date img {
        width: 100%;
    }

    .footer-menu-area {
        float: inherit !important;
    }

    .footer-menu li a {
        padding: 20px 30px 20px 0;
    }

    ul.laundryka-slider2-top-tag-box li {
        margin: 0 10px 10px 0;
    }

    ul.laundryka-slider2-top-tag-box li a {
        font-size: 22px;
    }

    .laundryka-single-slider2 {
        height: 500px;
    }

    .laundryka-slider2-area-content-box h2 {
        font-size: 45px;
    }

    ul.laundryka-slider2-top-tag-box li:before,
    .laundryka-main-slider2-all.owl-theme .owl-dots .owl-dot,
    .laundryka-single-slider2-style-img {
        display: none;
    }
}

/* SM Device :480px. */
@media (max-width: 360px) {
    .cart_all_button button {
        float: inherit !important;
    }
    .header-logo {
        margin: 32px 0 0;
        display: inline-block;
    }

    .header-top-btn {
        display: none !important;
    }

    ul.header-search {
        display: none;
    }

    ul.header-top-left-info-box li {
        margin-bottom: 30px;
    }

    .header-top-right-social-box {
        float: left !important;
    }

    .header-top-btn .lbtn {
        margin-right: 70px;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: -45px;
    }

    .header-cart-wraper {
        margin: -28px 60px 0 0;
    }

    .laundryka-single-slider-content h4 {
        font-size: 25px;
    }

    .laundryka-single-slider-content h2 {
        font-size: 40px;
        line-height: 1.4;
    }

    .about-brief-content-box h2.about-brief-title:after,
    .about-brief-content-box h2.about-brief-title2:after,
    .laundryka-testimonial-special-img,
    .laundryka-about-bg-img:before,
    .main-slider-offer-box,
    .laundryka-about-area .back-img,
    .single-works-steap-box .works-steap-icon-box:after,
    .laundryka-workes-steap-area
        .col-xl-3:nth-child(2n + 1)
        .single-works-steap-box
        .works-steap-icon-box:after,
    .services-bg-img {
        display: none;
    }

    .about-brief-content-box h2.about-brief-title2,
    .about-brief-content-box h2.about-brief-title {
        font-size: 26px;
    }

    .about-brief-content-box {
        margin: 30px 0;
    }

    .laundryka-about-content h2 {
        font-size: 30px;
    }

    .laundryka-about-bg-img {
        width: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .laundryka-about-content {
        margin-top: 50px;
    }

    .videos-icon-text {
        top: 13%;
        left: 20%;
        transform: translate(50%, 50%);
    }

    .single-services-box {
        margin-top: 0;
    }

    .single-testimonial p {
        font-size: 18px;
    }

    .laundryka-pricing-table-area .col-xl-4:nth-child(odd) .single-price-area {
        margin-top: 0;
    }

    .laundryka-counter-area {
        height: 1500px;
    }

    .single-counter-box {
        margin-top: 0;
    }

    .laundryka-counter-info-box h2 {
        font-size: 36px;
    }

    .laundryka-counter-style-shape img.lcs-1 {
        width: 30%;
    }

    .laundryka-counter-style-shape img.lcs-2 {
        width: 20%;
    }

    .team-all-member-box .owl-nav div {
        left: 0;
    }

    .team-all-member-box .owl-nav div.owl-next {
        right: 0;
    }

    .cta-title h3 {
        margin-bottom: 30px;
    }

    .blog-img-date img {
        width: 100%;
    }

    .footer-menu-area {
        float: inherit !important;
    }

    .footer-menu li a {
        padding: 20px 30px 20px 0;
    }

    ul.laundryka-slider2-top-tag-box li {
        margin: 0 10px 10px 0;
    }

    ul.laundryka-slider2-top-tag-box li a {
        font-size: 22px;
    }

    .laundryka-single-slider2 {
        height: 500px;
    }

    .laundryka-slider2-area-content-box h2 {
        font-size: 36px;
    }

    ul.laundryka-slider2-top-tag-box li:before,
    .laundryka-main-slider2-all.owl-theme .owl-dots .owl-dot,
    .laundryka-single-slider2-style-img {
        display: none;
    }
}
